.about-container {
	overflow-x: hidden;
	.main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 30px;
		.value-us {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.value-info {
				padding: 5% 8%;
				width: 55%;
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.087),
						rgba(0, 0, 0, 0.516),
						rgba(0, 0, 0, 0.733)
					),
					url("./src/assets/images/bg-2.jpg");
				background-size: cover;
				background-attachment: fixed;

				h2 {
					padding: 10px;
					border-radius: 10px 10px 0 0;
					background-color: rgba(255, 255, 255, 0.733);
					font-size: 28px;
					color: rgb(22, 141, 22);
				}
				h4 {
					padding: 10px;
					border-radius: 0 0 10px 10px;
					background-color: rgba(255, 255, 255, 0.735);
					font-size: 15px;
					font-weight: 600;
					color: rgb(10, 58, 10);
				}
				.ant-collapse-item {
					background-color: rgba(255, 255, 255, 0.735);
					border: none;
					border: 1px solid green;
					border-radius: 10px;
					margin: 5px 0;
					overflow: hidden;
					.ant-collapse-header {
						display: flex;
						align-items: center;
						justify-content: space-between;
					}
					.value-icon {
						font-size: 1.4rem;
						color: rgb(19, 146, 19);
						margin-top: 4px;
					}
				}
				.ant-collapse {
					border: none;
				}
			}
			.value-img {
				width: 45%;
				height: 438px;
				.cursor-pointer {
					position: absolute;
					cursor: pointer;
				}
			}
		}
		.prd-service {
			padding: 20px;
			h1 {
				font-size: 3rem;
				text-align: center;
				background-color: transparent;
				color: green;
			}
			h3 {
				font-size: 1.5rem;
				text-align: center;
				color: rgb(88, 103, 92);
			}
			.prd-service-info {
				display: flex;
				flex-wrap: wrap;
				margin: 10px auto;
				justify-content: space-between;
				.info-div {
					width: 23%;
					border-radius: 10px;
					padding: 10px;
					display: flex;
					justify-content: space-between;
					background-color: rgb(186, 232, 186);
					span {
						width: 9%;
						font-size: 1.3rem;
						color: crimson;
						font-weight: bold;
					}
					p {
						width: 83%;
						font-size: 1.1rem;
						text-align: left;
					}
				}
			}
			.info-div:first-of-type {
				opacity: 0;
				transform: translateX(-100%);
			}
			.info-div:nth-of-type(2) {
				opacity: 0;
				transform: translateX(100%);
			}
			.info-div:nth-of-type(3) {
				opacity: 0;
				transform: translateX(-100%);
			}
			.info-div:nth-of-type(4) {
				opacity: 0;
				transform: translateX(100%);
			}
			@keyframes service-move-1 {
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}

			p {
				width: 100%;
				text-align: center;
				font-size: 1rem;
				margin: 10px auto;
			}
			.forcanvas {
				height: 210px;
				width: 50%;
				margin: auto;
			}
		}
		.testimonal {
			padding: 10px;
			width: 55%;
			margin: 0 auto;
			h1 {
				text-align: center;
				font-size: 3.3rem;
				margin: 10px 0;
			}
			.testimonal-div {
				padding: 10px;
				background-color: rgb(203, 219, 202);
				border-radius: 20px;

				width: 100%;
				margin: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
				p {
					font-size: 1.3rem;
					padding: 10px;
					font-style: oblique;
					font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
						"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
				}
				small {
					text-align: center;
					padding-left: 10px;
					font-size: 1rem;
				}
			}
			.arrow-btn {
				width: 10%;
				border: none;
				background-color: transparent;
				color: green;
				border: 1px solid green;
				padding: 4px 0;
				font-size: 1.4rem;
				border-radius: 10px;
				transition: 0.5s ease;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				// &:hover {
				// 	background-color: green;
				// 	color: white;
				// }
				&:active {
					background-color: green;
					color: white;
				}
			}
		}
		.comitment {
			padding: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.left-com {
				width: 37%;
			}
			.right-com {
				width: 60%;
				padding: 25px;
				border-radius: 24px;
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.139),
						rgba(117, 117, 117, 0.491),
						rgba(0, 0, 0, 0.726)
					),
					url("./src/assets/images/bg-3.jpg");
				background-attachment: fixed;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: right;
				h1 {
					font-size: 45px;
					color: rgb(188, 215, 188);
					margin: 20px 0;
				}
				p {
					color: rgb(199, 255, 199);
					font-size: 1.2rem;
					font-family: "noto-sans";
					line-height: 2rem;
				}
			}
		}
	}
}
body.dark-mode {
	.about-container {
		.main {
			.value-us {
				.value-info {
					padding: 5% 8%;
					width: 55%;
					background-image: linear-gradient(
							rgba(0, 0, 0, 0.087),
							rgba(0, 0, 0, 0.671),
							rgba(0, 0, 0, 0.9)
						),
						url("./src/assets/images/bg-2.jpg");

					h2 {
						padding: 10px;
						border-radius: 10px 10px 0 0;
						background-color: #111111ba;
						font-size: 28px;
						color: rgb(44, 161, 44);
					}
					h4 {
						background-color: #111111ba;

						color: rgb(44, 161, 44);
					}
					.ant-collapse-item {
						background-color: #111111ba;
						border: none;
						border: 1px solid #159615;
						border-radius: 10px;
						margin: 5px 0;
						overflow: hidden;
						.ant-collapse-header {
							display: flex;
							align-items: center;
							color: var(--white5);
							justify-content: space-between;
						}
						.ant-collapse-content {
							color: var(--white3);
							border-top-color: #159615;
							background-color: #030303ba;
						}
						.value-icon {
							font-size: 1.4rem;
							color: rgb(31, 148, 31);
							margin-top: 4px;
						}
					}
					.ant-collapse {
						border: none;
					}
				}
				.value-img {
					width: 45%;
					height: 438px;
					.cursor-pointer {
						position: absolute;
						cursor: pointer;
					}
				}
			}
			.prd-service {
				padding: 20px;
				h1 {
					font-size: 3rem;
					text-align: center;
					background-color: transparent;
					color: rgb(16, 149, 16);
				}
				h3 {
					font-size: 1.5rem;
					text-align: center;
					color: rgb(125, 134, 128);
				}
				.prd-service-info {
					.info-div {
						background-color: rgba(186, 232, 186, 0.674);
						span {
							color: rgb(159, 22, 50);
							font-weight: bold;
						}
						p {
							width: 83%;
							font-size: 1.1rem;
							text-align: left;
						}
					}
				}
				.info-div:first-of-type {
					opacity: 0;
					transform: translateX(-100%);
				}
				.info-div:nth-of-type(2) {
					opacity: 0;
					transform: translateX(100%);
				}
				.info-div:nth-of-type(3) {
					opacity: 0;
					transform: translateX(-100%);
				}
				.info-div:nth-of-type(4) {
					opacity: 0;
					transform: translateX(100%);
				}
				@keyframes service-move-1 {
					100% {
						opacity: 1;
						transform: translateX(0);
					}
				}

				p {
					width: 100%;
					text-align: center;
					font-size: 1rem;
					margin: 10px auto;
					color: lightgray;
				}
				.forcanvas {
					height: 210px;
					width: 50%;
					margin: auto;
				}
			}
			.testimonal {
				h1 {
					color: rgb(89, 184, 89);
				}
				.testimonal-div {
					padding: 10px;
					background-color: rgb(54, 72, 53);

					p {
						color: var(--white2);
					}
					small {
						text-align: center;
						padding-left: 10px;
						font-size: 1rem;
						color: rgb(185, 185, 185);
					}
				}
				.arrow-btn {
					width: 10%;
					margin: 10px 0;
					border: none;
					background-color: transparent;
					color: rgb(179, 189, 179);
					border: 1px solid rgb(96, 156, 96);
					padding: 4px 0;
					font-size: 1.4rem;
					border-radius: 10px;
					transition: 0.5s ease;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					// &:hover {
					// 	background-color: green;
					// 	color: white;
					// }
					&:active {
						background-color: rgb(26, 67, 26);
						color: white;
					}
				}
			}
			.comitment {
				.left-com {
					width: 37%;
				}
				.right-com {
					width: 60%;
					padding: 25px;
					border-radius: 24px;
					background-image: linear-gradient(
							rgba(0, 0, 0, 0.139),
							rgba(23, 23, 23, 0.482),
							rgba(0, 0, 0, 0.847)
						),
						url("./src/assets/images/bg-3.jpg");
					background-attachment: fixed;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: right;
					h1 {
						font-size: 45px;
						color: rgb(188, 215, 188);
						margin: 20px 0;
					}
					p {
						color: rgb(199, 255, 199);
						font-size: 1.2rem;
						font-family: "noto-sans";
						line-height: 2rem;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1040px) {
	.about-container {
		.main {
			gap: 20px;
			.value-us {
				.value-info {
					padding: 4%;
					width: 53%;
					h2 {
						padding: 8px;
						border-radius: 8px 8px 0 0;
						font-size: 2rem;
					}
					h4 {
						padding: 8px;
						border-radius: 0 0 8px 8px;
						font-size: 1.04rem;
					}
					.ant-collapse-item {
						border-radius: 8px;

						.value-icon {
							font-size: 1.3rem;
							color: rgb(19, 146, 19);
							margin-top: 4px;
						}
					}
				}
				.value-img {
					width: 47%;
					height: 438px;
				}
			}
			.prd-service {
				padding: 17px;
				h1 {
					font-size: 2.7rem;
				}
				h3 {
					font-size: 1.3rem;
				}
				.prd-service-info {
					margin: 10px auto;
					.info-div {
						width: 23%;
						border-radius: 10px;
						padding: 10px;
						p {
							width: 83%;
							padding: 0;
							margin: 0;
							font-size: 1rem;
						}
					}
				}
				p {
					width: 75%;
					font-size: 0.96rem;
				}
				.forcanvas {
					height: 160px;
				}
			}
			.testimonal {
				padding: 8px;
				width: 57%;
				h1 {
					font-size: 3rem;
					margin: 8px 0;
				}
				.testimonal-div {
					padding: 10px;

					border-radius: 17px;
					gap: 18px;
					p {
						font-size: 1.2rem;
						padding: 8px;
					}
					small {
						font-size: 0.94rem;
					}
				}
				.arrow-btn {
					margin: 5px 0;
					font-size: 1.3rem;
					border-radius: 8px;
				}
			}
			.comitment {
				padding: 18px;
				.left-com {
					width: 37%;
				}
				.right-com {
					width: 60%;
					padding: 20px;
					border-radius: 20px;
					h1 {
						font-size: 3rem;
						margin: 15px 0;
					}
					p {
						font-size: 1.13rem;
					}
				}
			}
		}
	}
	body.dark-mode {
		.about-container {
			.main {
				gap: 20px;
				.value-us {
					.value-info {
						padding: 4%;
						width: 53%;
						h2 {
							padding: 8px;
							border-radius: 8px 8px 0 0;
							font-size: 2rem;
						}
						h4 {
							padding: 8px;
							border-radius: 0 0 8px 8px;
							font-size: 1.04rem;
						}
						.ant-collapse-item {
							border-radius: 8px;

							.value-icon {
								font-size: 1.3rem;
								margin-top: 4px;
							}
						}
					}
					.value-img {
						width: 47%;
						height: 438px;
					}
				}
				.prd-service {
					padding: 17px;
					h1 {
						font-size: 2.7rem;
					}
					h3 {
						font-size: 1.3rem;
					}
					.prd-service-info {
						margin: 10px auto;
						.info-div {
							width: 23%;
							border-radius: 10px;
							padding: 10px;
							p {
								width: 83%;
								padding: 0;
								margin: 0;
								font-size: 1rem;
							}
						}
					}
					p {
						width: 75%;
						font-size: 0.96rem;
					}
					.forcanvas {
						height: 160px;
					}
				}
				.testimonal {
					padding: 8px;
					width: 57%;
					h1 {
						font-size: 3rem;
						margin: 8px 0;
					}
					.testimonal-div {
						padding: 10px;

						border-radius: 17px;
						gap: 18px;
						p {
							font-size: 1.2rem;
							padding: 8px;
						}
						small {
							font-size: 0.94rem;
						}
					}
					.arrow-btn {
						margin: 5px 0;
						font-size: 1.3rem;
						border-radius: 8px;
					}
				}
				.comitment {
					padding: 18px;
					.left-com {
						width: 37%;
					}
					.right-com {
						width: 60%;
						padding: 20px;
						border-radius: 20px;
						h1 {
							font-size: 3rem;
							margin: 15px 0;
						}
						p {
							font-size: 1.13rem;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 884px) {
	.about-container {
		.main {
			gap: 10px;
			.value-us {
				align-items: start;
				.value-info {
					padding: 3%;
					width: 53%;
					height: 450px;
					h2 {
						padding: 6px;
						border-radius: 8px 8px 0 0;
						font-size: 1.8rem;
					}
					h4 {
						padding: 6px;
						border-radius: 0 0 8px 8px;
						font-size: 1rem;
					}
					.ant-collapse-item {
						border-radius: 8px;
						h3 {
							font-size: 1.1rem;
						}
						p {
							font-size: 0.96rem;
						}
						.value-icon {
							font-size: 1.3rem;
							color: rgb(19, 146, 19);
							margin-top: 4px;
						}
					}
				}
				.value-img {
					width: 47%;
					padding-top: 40px;
				}
			}
			.prd-service {
				padding: 15px;
				h1 {
					font-size: 2.3rem;
				}
				h3 {
					font-size: 1.14rem;
				}
				.prd-service-info {
					margin: 10px auto;
					justify-content: center;
					gap: 30px;
					.info-div {
						width: 35%;
						border-radius: 8px;
						padding: 17px 13px;
						p {
							width: 83%;
							padding: 0;
							margin: 0;
							font-size: 1rem;
						}
					}
				}
				p {
					width: 75%;
					font-size: 0.98rem;
				}
				.forcanvas {
					height: 180px;
				}
			}
			.testimonal {
				padding: 8px;
				width: 57%;
				h1 {
					font-size: 2.3rem;
					margin: 8px 0;
				}
				.testimonal-div {
					padding: 10px;
					border-radius: 14px;
					gap: 18px;
					p {
						font-size: 1.13rem;
						padding: 8px;
					}
					small {
						font-size: 0.9rem;
					}
				}
				.arrow-btn {
					margin: 5px 0;
					font-size: 1.2rem;
					border-radius: 6px;
				}
			}
			.comitment {
				padding: 14px;
				.left-com {
					width: 37%;
				}
				.right-com {
					width: 60%;
					padding: 16px;
					border-radius: 16px;
					h1 {
						font-size: 2.7rem;
						margin: 13px 0;
					}
					p {
						font-size: 1.1rem;
					}
				}
			}
		}
	}
	body.dark-mode {
		.about-container {
			.main {
				gap: 10px;
				.value-us {
					align-items: start;
					.value-info {
						padding: 3%;
						width: 53%;
						height: 450px;
						h2 {
							padding: 6px;
							border-radius: 8px 8px 0 0;
							font-size: 1.8rem;
						}
						h4 {
							padding: 6px;
							border-radius: 0 0 8px 8px;
							font-size: 1rem;
						}
						.ant-collapse-item {
							border-radius: 8px;
							h3 {
								font-size: 1.1rem;
							}
							p {
								font-size: 0.96rem;
							}
							.value-icon {
								font-size: 1.3rem;
								color: rgb(19, 146, 19);
								margin-top: 4px;
							}
						}
					}
					.value-img {
						width: 47%;
						padding-top: 40px;
					}
				}
				.prd-service {
					padding: 15px;
					h1 {
						font-size: 2.3rem;
					}
					h3 {
						font-size: 1.14rem;
					}
					.prd-service-info {
						margin: 10px auto;
						justify-content: center;
						gap: 30px;
						.info-div {
							width: 35%;
							border-radius: 8px;
							padding: 17px 13px;
							p {
								width: 83%;
								padding: 0;
								margin: 0;
								font-size: 1rem;
							}
						}
					}
					p {
						width: 75%;
						font-size: 0.98rem;
					}
					.forcanvas {
						height: 180px;
					}
				}
				.testimonal {
					padding: 8px;
					width: 57%;
					h1 {
						font-size: 2.3rem;
						margin: 8px 0;
					}
					.testimonal-div {
						padding: 10px;
						border-radius: 14px;
						gap: 18px;
						p {
							font-size: 1.13rem;
							padding: 8px;
						}
						small {
							font-size: 0.9rem;
						}
					}
					.arrow-btn {
						margin: 5px 0;
						font-size: 1.2rem;
						border-radius: 6px;
					}
				}
				.comitment {
					padding: 14px;
					.left-com {
						width: 37%;
					}
					.right-com {
						width: 60%;
						padding: 16px;
						border-radius: 16px;
						h1 {
							font-size: 2.7rem;
							margin: 13px 0;
						}
						p {
							font-size: 1.1rem;
						}
					}
				}
			}
		}
		body.dark-mode {
			.about-container {
				.main {
					gap: 10px;
					.value-us {
						align-items: start;
						.value-info {
							padding: 3%;
							width: 53%;
							height: 450px;
							h2 {
								padding: 6px;
								border-radius: 8px 8px 0 0;
								font-size: 1.8rem;
							}
							h4 {
								padding: 6px;
								border-radius: 0 0 8px 8px;
								font-size: 1rem;
							}
							.ant-collapse-item {
								border-radius: 8px;
								h3 {
									font-size: 1.1rem;
								}
								p {
									font-size: 0.96rem;
								}
								.value-icon {
									font-size: 1.3rem;
									margin-top: 4px;
								}
							}
						}
						.value-img {
							width: 47%;
							padding-top: 40px;
						}
					}
					.prd-service {
						padding: 15px;
						h1 {
							font-size: 2.3rem;
						}
						h3 {
							font-size: 1.14rem;
						}
						.prd-service-info {
							margin: 10px auto;
							justify-content: center;
							gap: 30px;
							.info-div {
								width: 35%;
								border-radius: 8px;
								padding: 17px 13px;
								p {
									width: 83%;
									padding: 0;
									margin: 0;
									font-size: 1rem;
								}
							}
						}
						p {
							width: 75%;
							font-size: 0.98rem;
						}
						.forcanvas {
							height: 180px;
						}
					}
					.testimonal {
						padding: 8px;
						width: 57%;
						h1 {
							font-size: 2.3rem;
							margin: 8px 0;
						}
						.testimonal-div {
							padding: 10px;
							border-radius: 14px;
							gap: 18px;
							p {
								font-size: 1.13rem;
								padding: 8px;
							}
							small {
								font-size: 0.9rem;
							}
						}
						.arrow-btn {
							margin: 5px 0;
							font-size: 1.2rem;
							border-radius: 6px;
						}
					}
					.comitment {
						padding: 14px;
						.left-com {
							width: 37%;
						}
						.right-com {
							width: 60%;
							padding: 16px;
							border-radius: 16px;
							h1 {
								font-size: 2.7rem;
								margin: 13px 0;
							}
							p {
								font-size: 1.1rem;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 460px) {
	.about-container {
		.main {
			gap: 10px;
			.value-us {
				align-items: start;
				flex-direction: column;
				.value-info {
					padding: 4% 11%;
					width: 100%;
					height: 396px;
					background-attachment: local;

					h2 {
						padding: 6px;
						text-align: center;
						border-radius: 8px 8px 0 0;
						font-size: 1.8rem;
					}
				}
				.value-img {
					width: 90%;
					padding-top: 40px;
					margin: auto;
				}
			}
			.prd-service {
				padding: 1rem;
				h1 {
					font-size: 2.1rem;
				}
				h3 {
					font-size: 1.1rem;
				}
				.prd-service-info {
					margin: 10px auto;
					justify-content: center;
					gap: 1rem;
					.info-div {
						width: 48%;
						border-radius: 6px;
						padding: 1.3rem 1.1rem;
						p {
							width: 84%;
							padding: 0;
							margin: 0;
							font-size: 0.9rem;
						}
					}
				}
				p {
					width: 90%;
					font-size: 1rem;
				}
				.forcanvas {
					height: 160px;
				}
			}
			.testimonal {
				padding: 8px;
				width: 90%;
				h1 {
					font-size: 2.1rem;
					margin: 8px 0;
				}
				.testimonal-div {
					padding: 0.8rem;
					border-radius: 12px;
					gap: 18px;
					p {
						font-size: 1.1rem;
						padding: 8px;
					}
					small {
						font-size: 0.9rem;
					}
				}
				.arrow-btn {
					margin: 5px 0;
					font-size: 1.3rem;
					border-radius: 6px;
				}
			}
			.comitment {
				padding: 1rem;
				.left-com {
					width: 0%;
				}
				.right-com {
					width: 100%;
					padding: 16px;
					border-radius: 16px;
					background-attachment: local;
					background-size: cover;
					h1 {
						font-size: 2.2rem;
						margin: 1.1rem 0;
					}
					p {
						font-size: 1.13rem;
					}
				}
			}
		}
	}
	body.dark-mode {
		.about-container {
			.main {
				gap: 10px;
				.value-us {
					align-items: start;
					flex-direction: column;
					.value-info {
						padding: 4% 11%;
						width: 100%;
						height: 396px;
						background-attachment: local;

						h2 {
							padding: 6px;
							text-align: center;
							border-radius: 8px 8px 0 0;
							font-size: 1.8rem;
						}
					}
					.value-img {
						width: 90%;
						padding-top: 40px;
						margin: auto;
					}
				}
				.prd-service {
					padding: 1rem;
					h1 {
						font-size: 2.1rem;
					}
					h3 {
						font-size: 1.1rem;
					}
					.prd-service-info {
						margin: 10px auto;
						justify-content: center;
						gap: 1rem;
						.info-div {
							width: 48%;
							border-radius: 6px;
							padding: 1.3rem 1.1rem;
							p {
								width: 84%;
								padding: 0;
								margin: 0;
								font-size: 0.9rem;
							}
						}
					}
					p {
						width: 90%;
						font-size: 1rem;
					}
					.forcanvas {
						height: 160px;
					}
				}
				.testimonal {
					padding: 8px;
					width: 90%;
					h1 {
						font-size: 2.1rem;
						margin: 8px 0;
					}
					.testimonal-div {
						padding: 0.8rem;
						border-radius: 12px;
						gap: 18px;
						p {
							font-size: 1.1rem;
							padding: 8px;
						}
						small {
							font-size: 0.9rem;
						}
					}
					.arrow-btn {
						margin: 5px 0;
						font-size: 1.3rem;
						border-radius: 6px;
					}
				}
				.comitment {
					padding: 1rem;
					.left-com {
						width: 0%;
					}
					.right-com {
						width: 100%;
						padding: 16px;
						border-radius: 16px;
						background-attachment: local;
						background-size: cover;
						h1 {
							font-size: 2.2rem;
							margin: 1.1rem 0;
						}
						p {
							font-size: 1.13rem;
						}
					}
				}
			}
		}
	}
}
